<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="/">SmartGrid</a>
      <div class="navbar-buttons">
        <button routerLink="/home" routerLinkActive="active">Home</button>
        <button routerLink="/create" routerLinkActive="active">Create</button>
        <!-- <button *ngIf="!isAuthenticated()" (click)="login()" routerLinkActive="active">Login</button>
        <button *ngIf="!isAuthenticated()" (click)="register()" routerLinkActive="active">Register</button>
        <button *ngIf="isAuthenticated()" (click)="logout()" routerLinkActive="active">Logout</button> -->
      </div>
    </div>
  </nav>
